/* CABEÇALHO */
a {
    color: var(--branco);
    text-decoration: none;
}

.cabecalho {
    background-color: var(--azul-escuro);
    
    display: flex;
    /* flex-direction: row; */
    /* por padrão o fle vem na direção row/linha */

    justify-content: space-between;
    
    padding: 0 120px;
    height: 10vh;

    align-items:  center;
}
.navegacao {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;

    /* 1rem -> equivale a 16px (padrão da raíz do HTML) */
    /* em -> pega o tamanho da tipografia do elemento pai */
    font-size: 1em;
    font-weight: 800;
}

/* CONTEÚDO PRINCIPAL */

/* Primeiro banner */

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    width: 50%;
}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2ab2ab;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}